<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <h4>PRO</h4>
        <ul>
          <li><a href="">Giới thiệu</a></li>
          <li><a href="">Câu hỏi thường gặp</a></li>
          <li><a href="">Liên hệ</a></li>
        </ul>
      </div>
      <div class="col">
        <h4>Cơ hội việc làm</h4>
        <ul>
          <li><a href="">WEB</a></li>
          <li><a href="">Trí tuệ nhân tạo</a></li>
          <li><a href="">Bảo mật</a></li>
          <li><a href="">Ứng dụng di động</a></li>
          <li><a href="">Game</a></li>
        </ul>
      </div>
      <div class="col">
        <h4>Hỗ trợ</h4>
        <ul>
          <li><a href="">Hỗ trợ</a></li>
          <li><a href="">Đóng góp</a></li>
        </ul>
      </div>
      <div class="col">
        <h4>Theo dõi chúng tôi</h4>
        <div class="social-links">
          <a href=""><i class="fab fa-facebook-f"></i></a>
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
          <a href=""><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>