<header class="header" id="myHeader">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container">
      <a href="/" id="logo">PRO</a>
      <h5 class="h5 col-md-0 col-sm-0 col-xs-0">Đừng học nghiện đấy</h5>
      {{!-- <a class="navbar-brand" href="/"><i class="fab fa-product-hunt"></i></a> --}}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>



      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form action="/" method="GET" class="form" id="form-1"></form>
        <ul class="navbar-nav ml-auto">
          {{#if lcIsAuthenticated}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <img
                src="https://static2.yan.vn/YanNews/2167221/202102/facebook-cap-nhat-avatar-doi-voi-tai-khoan-khong-su-dung-anh-dai-dien-e4abd14d.jpg"
                alt="" class="user-avatar">
              {{lcAuthAccount.fullname}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/search">Tìm kiếm</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/courses/create">Đăng khóa học</a>
              <a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a>
              <a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/accounts/logout">Đăng xuất</a>
              </form>
            </div>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/accounts/login">
              <i class="fas fa-sign-in-alt"></i>
              Đăng nhập</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/accounts/register">
              <i class="fas fa-user-plus"></i>
              Đăng ký</a>
          </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</header>